{% extends "nest_graph/base.html" %}

{% block title %}
Overview
{% endblock %}

{% block content %}
        <div class="mdl-grid demo-content">
          <!-- Banner across the top - current status -->
          <div id="current_status" class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <svg></svg>
          </div>

          <!-- Daily Graph -->
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
            <canvas id="daily_graph" width="400" height="250"></canvas>
          </div>

          <!-- Sample Card -->
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Updates</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Dancing hamsters are the best?
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
            <!--<div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>View options</h3>
                <ul>
                  <li>
                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Click per object</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Views per object</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Objects selected</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Objects viewed</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">location_on</i>
              </div>
            </div>-->
          </div>
        </div>
{% endblock %}

{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<script type = 'text/javascript'>
  var timeFormat = 'MM/DD/YYYY HH:mm';

  function randomNumber(min, max){
    return Math.random() * (max-min) + min;
  }

  function newDate(days) {
      return moment().add(days, 'd').toDate();
  }

  function newDateString(days) {
      return moment().add(days, 'd').format(timeFormat);
  }

  function heatColour(temp) {
    if(temp >= 20.0) {
      console.log(temp + ' red');
      return 'red';
    }

    if(temp <= 15.0) {
      console.log(temp + ' blue');
      return 'blue';
    }
console.log(temp + ' grey');
    return 'grey';
  }


  var ctx = document.getElementById("daily_graph").getContext('2d');
   var color = Chart.helpers.color;

  var i = 0;
  var date = moment();
  var labels = [date.toDate()];
  var temps = [21.0];
  var temp = 21.0;

  var gradientStroke = ctx.createLinearGradient(0, 0, 640, 0);
  gradientStroke.addColorStop(0, heatColour(21.0));

  while (i < 100) {
    i = i+1;
    date = date.clone().add(1, 'm');
    temp = randomNumber(temp - 1.0, temp + 1.0);

    if(Math.random() > 0.5){
        gradientStroke.addColorStop(i / 100.0, heatColour(temp));

      labels.push(date.toDate());
      temps.push({
        x: date.toDate(),
        y: temp,
        pointBackgroundColor: heatColour(temp)
      });
      }
  }

    console.log(temps)



  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Actual Temperature',
            borderColor:               gradientStroke,
            pointBorderColor:          gradientStroke,
            pointBackgroundColor:      gradientStroke,
            pointHoverBackgroundColor: gradientStroke,
            pointHoverBorderColor:     gradientStroke,
            fill: true,
            backgroundColor: gradientStroke,

            data: temps,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                type: 'time',
                time: {
                    format: timeFormat,
                    tooltipFormat: 'll HH:mm',
                    unit: 'minute'
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Time",
                }
            }]
        }
    }
});

</script>
{% endblock %}